        body {
            background-color: hsl(0, 0%, 95%);
        }
        
        a {
            text-decoration: none;
            color: black
        }
        
        .doc {
            background-color: white;
            box-shadow: 0px 0px 65px rgba(0, 0, 0, 0.15);
            margin: 30px 300px 30px;
            padding: 10px 30px 30px;
            border: 1px solid rgb(240, 240, 240);
            border-radius: 10px;
        }
        
        @font-face {
            font-family: 'WangZhanZiTi';
            /* 自定义字体名称 */
            src: url('https://github.moeyy.xyz/https://github.com/oldeightLB/my_blog_website/blob/master/Newfont.woff2');
            /* 字体文件的相对路径 */
        }
        
        * {
            font-family: WangZhanZiTi;
        }
