        body {
            background-color: hsl(0, 0%, 95%);
        }
        
        a {
            text-decoration: none;
            color: black
        }
        
        .doc {
            background-color: white;
            margin: 30px 300px 30px;
            padding: 10px 30px 10px;
            border: 1px solid rgb(240, 240, 240);
            border-radius: 10px;
        }
        
        @font-face {
            font-family: 'WangZhanZiTi';
            /* 自定义字体名称 */
            src: url('https://120-232-77-26.pd1.123pan.cn:30443/download-cdn.123pan.cn/123-221/fbf7b77a/1633736-0/fbf7b77a73965b81cd3e5d4eb17c60dd/c-m23?v=5&t=1715514573&s=1715514573db795fd51aec92d34f19cde58f5fafa7&r=BTNV0Q&bzc=2&bzs=313832323032333933363a32343639373633393a31313337333635363a30&filename=SourceHanSerifCN-Medium-6.otf&x-mf-biz-cid=6eec9377-71aa-4277-a386-440905b444a5-a0d664&auto_redirect=0&ndcp=1&cache_type=1&xmfcid=f31c8b5e-67a6-4f44-883d-5f7beaf16ba5-1-50111d3b1');
            /* 字体文件的相对路径 */
        }
        
        * {
            font-family: WangZhanZiTi;
        }